@media (max-width:2560px) {
    :root {
        --main-color: red;
        --bg-color: #fff;
        --second-bg-color: #242424;
        --big-font: 10rem;
        --h1-font: 7rem;
        --h2-font: 3rem;
        --p-font: 1.5rem;
        --transition: all .5s ease;
        --border: 1px solid transparent
    }

    .logo a {
        font-size: 2rem
    }

    .navlist li a {
        font-size: var(--p-font)
    }

    .contato {
        width: 150px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: var(--main-color);
        font-family: poppins-light, sans-serif;
        font-size: 1.2rem;
        color: var(--bg-color);
        font-weight: 600;
        border: var(--border);
        transition: var(--transition)
    }

    .home h3 {
        font-size: 2rem
    }

    .home h2 {
        font-size: 2rem
    }

    .about .content {
        gap: 60px
    }

    .about-img img {
        width: 1200px
    }

    .about-text p {
        width: 90%
    }

    .class {
        height: 100vh
    }

    .class-box {
        width: 450px
    }

    .class-box .conteudo {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .class-box .class-btn {
        width: 150px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: var(--main-color);
        font-family: poppins-light, sans-serif;
        color: var(--bg-color);
        font-weight: 600;
        border: var(--border);
        transition: var(--transition)
    }

    .teacher-box {
        width: 500px;
        height: 600px
    }

    .teacher-box h3 {
        font-size: 2rem
    }
}

@media (max-width:1920px) {
    .navlist li a {
        font-size: 1.2rem
    }

    .about-img img {
        width: 800px
    }

    .about-text h2 {
        font-size: 4rem
    }

    .class-box {
        width: 350px
    }

    .teacher {
        height: auto
    }

    .teacher-box {
        width: 450px
    }
}

@media (max-width:1440px) {
    :root {
        --main-color: red;
        --bg-color: #fff;
        --second-bg-color: #242424;
        --big-font: 6rem;
        --h1-font: 2rem;
        --h2-font: 2rem;
        --p-font: 1rem;
        --transition: all .5s ease;
        --border: 1px solid transparent
    }

    .logo a {
        font-size: 1.2rem
    }

    .navlist li {
        padding: 0 10px
    }

    .home .content h3 {
        font-size: 1.5rem
    }

    .home .content h1 {
        margin-top: 20px
    }

    .home .content h2 {
        font-size: 1rem
    }

    .about-img img {
        width: 500px
    }

    .about-text a {
        width: 150px;
        height: 50px
    }

    .about-text .btn a {
        width: 150px;
        height: 60px
    }

    .class {
        height: 100vh
    }

    .class .head h1 {
        font-size: 6rem
    }

    .class-box {
        width: 270px
    }

    .teacher .head h1 {
        font-size: 6rem
    }

    .teacher-box {
        width: 350px;
        height: 500px
    }
}

@media (max-width:1024px) {
    .contato {
        height: 50px
    }

    .about .content {
        gap: 10px
    }

    .about-img img {
        width: 450px
    }

    .about h2 {
        font-size: 3rem;
        margin-bottom: -2px
    }

    .about p {
        line-height: 1.2;
        width: 100%
    }

    .about-text .btn a {
        width: 150px;
        height: 50px
    }

    .class {
        height: auto;
        padding: 5%
    }

    .class .content {
        flex-direction: column;
        align-items: center
    }

    .class-box {
        width: 100%;
        flex-direction: row;
        align-items: center;
        text-align: left;
        margin: 10px 0
    }

    .class-box img {
        width: 50%;
        border-radius: 8px 0 0 8px
    }

    .class-box .conteudo {
        width: 50%;
        padding: 15px
    }

    .class-box .content h3,
    .class-box .content p,
    .class-box .content .class-btn {
        text-align: left
    }

    .class-box h3 {
        margin: 10px 0
    }

    .class-box p {
        padding: 0
    }

    .class-box .class-btn {
        margin: 10px 15px 10px 0
    }

    .teacher {
        height: auto;
        padding: 5%
    }

    .teacher .content {
        flex-direction: column;
        align-items: center
    }

    .teacher-box {
        width: 100%;
        height: auto;
        flex-direction: row;
        align-items: center;
        text-align: left;
        margin: 10px 0
    }

    .teacher-box img {
        width: 50%;
        height: auto;
        border-radius: 8px 0 0 8px
    }

    .teacher-box .conteudo {
        width: 50%;
        padding: 15px
    }

    .teacher-box .conteudo h3,
    .teacher-box .conteudo p {
        text-align: left
    }

    .teacher-box h3 {
        margin: 10px 0
    }

    .teacher-box p {
        padding: 0
    }

    .teacher-box .social {
        justify-content: start
    }
}

@media (max-width:768px) {
    header.sticky .navlist.show {
        background: var(--second-bg-color)
    }

    header.sticky .close-menu {
        color: var(--bg-color)
    }

    .navlist {
        display: none;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background: #fff;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        padding-top: 60px;
        align-items: center;
        justify-content: center
    }

    .navlist.show {
        display: flex
    }

    .navlist .btn {
        width: 250px
    }

    #menu-icon {
        display: block;
        cursor: pointer;
        font-size: 24px;
        color: var(--second-bg-color);
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1100
    }

    .navbar.show a {
        font-size: 40px;
        margin: 20px 0
    }

    #close-menu {
        display: none;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
        cursor: pointer;
        z-index: 1100
    }

    .navbar.show #menu-icon {
        display: none
    }

    .navbar.show #close-menu {
        display: block
    }

    .navbar.show .logo {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 1100
    }

    .home h1 {
        font-size: 5rem
    }

    .about .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 5%;
        text-align: center
    }

    .about-img img {
        width: 100%
    }

    .about-text h2 {
        font-size: 5rem
    }

    .about .content .about-text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center
    }

    .about-text .btn {
        display: flex;
        align-items: center;
        justify-content: center
    }

    .teacher-box img {
        height: 260px
    }
}

@media (max-width:425px) {
    .navlist .btn {
        height: 70px
    }

    .home h1 {
        font-size: 4rem
    }

    .about {
        height: auto
    }

    .about-text h2 {
        font-size: 3.3rem
    }

    .class-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: var(--bg-color);
        border: 1px solid var(--second-bg-color);
        border-radius: 8px;
        width: 350px;
        margin: 10px;
        text-align: center;
        transition: var(--transition)
    }

    .class-box img {
        width: 100%
    }

    .class-box h3 {
        font-size: 2rem;
        line-height: 1
    }

    .class-box p {
        width: 150%
    }

    .teacher .head h1 {
        font-size: 3rem
    }

    .teacher-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: var(--bg-color);
        border: 1px solid var(--second-bg-color);
        border-radius: 8px;
        width: 350px;
        margin: 10px;
        text-align: center;
        transition: var(--transition)
    }

    .teacher-box img {
        width: 100%
    }

    .teacher-box .conteudo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column
    }

    .teacher-box .conteudo h3 {
        text-align: center;
        line-height: 1
    }

    .teacher-box .conteudo p {
        text-align: center;
        width: 170%
    }

    .space video {
        width: 100%
    }

    .contato {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: auto
    }

    .contato .contato-info {
        padding: 5%;
        width: 100%
    }

    .contato .formulario {
        padding: 5%;
        width: 100%
    }

    footer {
        padding: 5%
    }
}

@media (max-width:375px) {
    .home {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .about .about-text h2 {
        line-height: 1
    }

    .about-text .btn {
        flex-direction: column
    }

    .class-box {
        width: 100%
    }

    .class .head h1 {
        font-size: 3rem
    }

    .teacher-box {
        width: 100%
    }

    .teacher-box img {
        height: auto
    }
}

@media (max-width:320px) {
    .navbar.show .logo a {
        font-size: 2rem
    }

    .class .head h1 {
        font-size: 4rem
    }
}