@media (max-width:2560px) {
    .class .top{
        height: 200px;
    }
    .top h1{
        font-size: 30px;
    }
    .class .bottom .card{
        width: 600px;
        height: 800px;
    }
}

@media (max-width:1920px) {
    .class .bottom .card{
        width: 500px;
        height: 700px;
    }
}

@media (max-width:1024px) {
    header .navbar nav .navlist li a{
        font-size: 1rem;
    }
    .about .bottom .content .text .title h1{
        font-size: 2.7rem;
    }
    .about .bottom .content .text .about_text p{
        font-size: 1.2rem;
    }
    .class .bottom .card{
        width: 300px;
        height: 500px;
    }
    .class .bottom .card .info p{
        font-size: 1rem;
      }
    .call .text h1{
        font-size: 3rem;
    }
    .call .text p{
        font-size: 2rem;
    }
    .contact .bottom .infos_academy .info h1{
        font-size: 4rem;
    }
}

@media (max-width:768px) {
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--black);
        transition: all .5s ease;
    }
    .navlist a {
        display: block;
        font-size: 20px;
        transition: all .45s ease;
        color: var(--white);
    }
    .navlist.open {
        top: 100%;
        padding: 5%;
    }
    .top h1{
        font-size: 20px;
    }
    .about .bottom .content{
        flex-direction: column;
        gap: 20px;
    }
    .about .bottom .content .img,
    .about .bottom .content .text{
        width: 100%;
        height: 100%;
    }
    .about .bottom .content .text .title h1{
        font-size: 2rem;
    }
    .about .bottom .content .text .about_text p{
        font-size: 1rem;
    }
    .about .bottom .content .text{
        padding-bottom: 50px;
    }
    .class .bottom .card{
        width: 600px;
        height: 800px;
    }
    .class .bottom .card .info p{
        font-size: 1.5rem;
    }
    .contact{
        height: auto;
    }
    .contact .bottom{
        height: auto;
        flex-direction: column;
    }
    .contact .bottom .infos_academy{
        width: 100%;
    }
    .contact .bottom .message_academy{
        width: 100%;
    }
}

@media (max-width:425px) {
    .home .content h1{
        width: 100%;
        font-size: 3.5rem;
    }
    .class .bottom .card{
        width: 100%;
        height: 100%;
    }
    footer p{
        text-align: center;
        font-size: 1rem;
        color: var(--white);
    }
}

@media (max-width:320px){
    .home .content h1{
        width: 100%;
        font-size: 2.5rem;
    }
    .contact .bottom .infos_academy .info h1{
        font-size: 3rem;
    }
    .contact .bottom .infos_academy .info nav ul li a{
        font-size: 1rem;
    }
}